# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/profile.coverprofile
/overalls.coverprofile
/coverage.txt
/tmp/
/grope/profile.coverprofile
/balance/profile.coverprofile
/log/tmp/
/example/log/tmp/
/example/log/profile.coverprofile
/log/profile.coverprofile
/example/sql_de/
/example/ca_grope_sql_de/
/example/cas.zip
/example/cas.tar
